.App {
	background: grey;
	min-height: 100vh; /* minimum height of page would be equal to available view-port height */
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
h1 {
	color: white;
	text-align: center;
}
.subTitle {
	color: white;
	text-align: center;
	font-size: 12pt;
	padding-left: 16px;
	padding-right: 16px;
}
.row {
	padding: 8px;
}

.footer {
	position: fixed;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, 0);
	margin: 0 auto;
	height: 100px;
	width: 100%;
}
.generateButton {
	width: 300px;
	margin-top: 10px;
	height: 80px;
}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
